In [1]:
import numpy as np
import pandas as pd

In [6]:
series = pd.read_csv('datasets/series.csv', encoding= 'unicode_escape')
train = pd.read_csv('datasets/observations_train.csv')

In [7]:
train

         series_id                 date  value
0           AAA10Y     01-03-2000 00:00   1.17
1           AAA10Y     01-04-2000 00:00   1.20
2           AAA10Y     01-05-2000 00:00   1.16
3           AAA10Y     01-06-2000 00:00   1.15
4           AAA10Y     01-07-2000 00:00   1.17
...            ...                  ...    ...
103299  WLEMUINDXD  12-27-2017 00:00:00  13.95
103300  WLEMUINDXD  12-28-2017 00:00:00  12.77
103301  WLEMUINDXD  12-29-2017 00:00:00  23.07
103302  WLEMUINDXD  12-30-2017 00:00:00  47.60
103303  WLEMUINDXD  12-31-2017 00:00:00  89.84

[103304 rows x 3 columns]