In [1]:
import numpy as np
import pandas as pd
import altair as alt
import matplotlib.pyplot as plt

In [2]:
series = pd.read_csv('datasets/series.csv', encoding= 'unicode_escape')
train = pd.read_csv('datasets/observations_train.csv')
test = pd.read_csv('datasets/observations_test.csv')

In [13]:
train_std = train.copy()
train_std.value = train.groupby('series_id').transform(lambda x: (x - x.mean()) / x.std()).value

In [16]:
train_std.to_csv('datasets/train_std.csv')

In [5]:
test

        series_id               date
0          AAA10Y   01-02-2018 00:00
1          AAA10Y   01-03-2018 00:00
2          AAA10Y   01-04-2018 00:00
3          AAA10Y   01-05-2018 00:00
4          AAA10Y   01-08-2018 00:00
...           ...                ...
24037  WLEMUINDXD   06-10-2020 00:00
24038  WLEMUINDXD   06-11-2020 00:00
24039  WLEMUINDXD   06-12-2020 00:00
24040  WLEMUINDXD  06-13-20 00:00:00
24041  WLEMUINDXD  06-14-20 00:00:00

[24042 rows x 2 columns]

In [6]:
series.series_id.unique()

array(['AAA10Y', 'ASEANTOT', 'BAA10Y', 'BUSAPPWNSAUS', 'BUSAPPWNSAUSYY',
       'CBUSAPPWNSAUS', 'CBUSAPPWNSAUSYY', 'CUUR0000SA0R', 'DEXCHUS',
       'DEXJPUS', 'DEXUSEU', 'DEXUSUK', 'DFII10', 'DFII20', 'DFII30',
       'DFII5', 'DFII7', 'DLTIIT', 'DPCREDIT', 'DPRIME', 'EECTOT', 'EFFR',
       'EFFRVOL', 'FRGSHPUSM649NCIS', 'GVIPT50002S', 'GVIPT50030S',
       'GVIPT51000S', 'GVIPT51100S', 'GVIPT51110S', 'GVIPT51120S',
       'GVIPT51200S', 'GVIPT52000S', 'GVIPT52100S', 'GVIPT521A3S',
       'GVIPT52300S', 'GVIPT54000S', 'GVIPT54100S', 'GVIPT54200S',
       'GVIPT54220S', 'INFECTDISEMVTRACKD', 'IOER', 'IORR',
       'MEDCPIM158SFRBCLE', 'MORTGAGE15US', 'MORTGAGE30US', 'OBFR',
       'OBFRVOL', 'PCUADLVWRADLVWR', 'PCUAINFOAINFO', 'PCUAMUMAMUM',
       'PCUARETTRARETTR', 'PCUASHCASHC', 'PCUASTDSVASTDSV',
       'PCUATRADEATRADE', 'PCUATRANSATRANS', 'PCUATRNWRATRNWR',
       'PCUATTDSVATTDSV', 'PCUAWHLTRAWHLTR', 'PCUOMFGOMFG', 'PCUOMINOMIN',
       'SFTPAGRM158SFRBSF', 'SOFR', 'SOFRVOL', 'SP500', 'T10YIE',
       'TEDRATE', 'TLAACBW027NBOG', 'TLBACBW027NBOG', 'TSIFRGHT',
       'UNRATE', 'WLEMUINDXD'], dtype=object)